/* @import './node_modules/bootstrap/dist/css/bootstrap.min.css'; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Quicksand', sans-serif;
}

.solid-background {
    /* background: url('https://lh3.googleusercontent.com/wfLObCRX1zAmUxb_qGXz2mvClvgQtNAOj95O63Z1PCxad3VXgX7cnjyuo0ueoRAEfiz6Zb7JGgYMoPlVBCiaDL2rQYrri9qna-ihflZMwsEpJNuakPMYDeQiY8cGN-0bY0kzVz2qGQ=w2400'); */
    background-size: cover;
    background: #d4b303;
}