<div class="bio h-100" id="bio_section">
  <!-- <div class="position-absolute w-100 h-100"></div> -->
  <div class="container-fluid h-100 py-5 d-flex flex-column">
    <div class="row m-0 h-100">
      <!-- <div class="col-6 ml-auto">
                <div class="card border-0 shadow h-100 chart-bg">
                </div>
            </div> -->
      <div class="col-9 text-left py-5 mx-auto d-flex align-items-center">
        <div class="row">
          <div class="col-6">
            <h2 class="my-3">a bit about ME !!!</h2>
            <p class="mb-2">In the past 6 years, I have designed and developed various web and mobile
              applications. Currently, working as a Full Stack Developer in a Data Science Company.
            </p>
            <p class="mb-2">In this journey, I have acquired hands on experience on various web
              technologies and
              tools.</p>

            <p>My expertise include Bootstrap, Angular, Vue frameworks. Python, Node for Backend, HTML5,
              CSS3, Javascript, Jquery for frontend. </p>

            <p>Visualization development using D3 and Vega is also my forte.</p>

            <button class="btn btn-success mt-2">Ping Me !!!</button>
          </div>
          <div class="col-6">

          </div>
        </div>

      </div>
    </div>


  </div>
</div>
